<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div class="container success-box">
        <h2>Thank you, {{ name }}</h2>
        <p>Your feedback has been submitted successfully!</p>

        <h3>All Feedbacks</h3>
        <ul>
            {% for i in feedbacks %}
            <li>{{ i[0] }} - {{ i[1] }}</li>
            {% endfor %}
        </ul>

        <a href="/">Go Back</a>
    </div>
</body>
</html>
